* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 .heading {
    position: absolute;
    color:darkslategrey;
    top: 40%;
    width: 30%;
    text-align: center;
  }
  p1 {
      top: 18%;
      width: 485;
      font-family: ;
  }
  
  li a:hover:not(.active) {
    background-color:pink;
  }
  
  .active {
    background-color: #0bc7f7;
  }
  .bk {
   width: 20%;
   float: left;
   margin-left: auto;
   margin-right: 0px;
padding: 40px;
  
      }
      .bk img {
         height: 691px;
      }
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: white;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
    input[type=text]
    {
      float: right;
  padding: 6px;
  border: grey;
  border-radius: 0px;
  border-width: 1%;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
    }

    /* .taxi {
      display:flex; 
      flex-wrap: nowrap;
      align-content:right;
      flex-direction: row;
      justify-content: flex-end;
    }  */
    .carim {
      background-color: #fce92a;
      margin-bottom: 20px;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      background-size: cover;
      width: 305px;
      height: 333px;
      padding: 10px;
      
    }
    .carim1 {
      background-image: url(/we.jpg);
    
    }
    .carim2 {
      background-image: url(/ccer.jpg);
    }
    .carim3 {
      background-image: url(/xxccx.jpg);

    }
  